env:
  vars:
    targetUrl: "${SCANROPOD_TARGET_URL}"
    reportDir: "${SCANROPOD_REPORT_DIR}"
    reportFile: "${SCANROPOD_REPORT_FILE}"
  contexts:
    - name: "contextone"
      urls: ["${targetUrl}"]
      includePaths: []
      excludePaths: []
  parameters:
    failOnError: true
    failOnWarning: false
    progressToStdout: true

jobs:
  # spider folder
  - type: spider
    parameters:
      maxDepth: 1
      maxChildren: 1
      postForm: true
  # passive scan
  - type: passiveScan-config
    parameters:
      scanOnlyInScope: true
  - type: passiveScan-wait
  # active scan
  - type: activeScan-config
  - type: activeScan
  # report
  - type: report
    parameters:
      template: "traditional-json"
      reportFile: "${reportFile}"
      reportDir: "${reportDir}"